@font-face {
    font-family: "8bitOperatorPlus-Bold";
    src: url('resources/ifba/fonts/8bitOperatorPlus-Bold.ttf') format(truetype);
    font-weight: bold;
    font-style: normal;
}

::marker {
    color: #00000000;
}

body {
    font-family: "8bitOperatorPlus-Bold", sans-serif;
    margin: 0;
    padding: 0;
    background: #5840BB;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.container {
    width: 85%;
    max-width: 1200px;
    padding: 30px;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 15px;
    backdrop-filter: blur(20px) saturate(180%);
    animation: fadeIn 2s ease-in-out;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

h1 {
    font-size: 2em;
    text-align: center;
    color: #fff;
    letter-spacing: 0.1em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

details {
    margin: 20px 0;
    padding: 15px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    backdrop-filter: blur(15px);
    cursor: pointer;
    transition: transform 0.2s, background-color 0.3s;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

details:hover {
    transform: translateY(-3px);
    background-color: rgba(255, 255, 255, 0.15);
}

summary {
    font-size: 1.3em;
    color: #fff;
    letter-spacing: 0.05em;
    cursor: pointer;
    outline: none;
}

details p {
    color: #ddd;
    line-height: 1.6;
    margin-top: 15px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.parallax {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: url('resources/ifba/images/fundo.jpg');
    background-attachment: fixed;
}

.nav__uls {
    position: fixed;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
    background: rgb(0 0 0 / 36%);
    backdrop-filter: blur(10px);
    border-radius: 40px;
    padding: 20px 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    animation: slideInLeft 0.8s ease-out;
}

.nav__lis {
    margin: 20px 0;
    padding: 10px;
    border-radius: 12px;
    transition: all 0.3s;
    cursor: pointer;
}

.nav__lis:hover {
    background: rgba(122, 74, 244, 0.3);
    transform: translateX(8px);
}

.nav__lis img {
    width: 28px;
    height: 28px;
    filter: brightness(0.9);
    transition: all 0.3s;
}

.nav__lis:hover img {
    filter: brightness(1.5);
    transform: scale(1.2);
}